html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Futura Std', sans-serif;
    background-color: white;
    color: black;
}

p{
    font-weight: lighter;
}

a {
    text-decoration: underline;
    transition: opacity .2s;
    display: block;
    cursor: pointer;
}

a:hover {
    color:rgb(106, 106, 150);
}

a:active {
    color: aqua;
}

li {
    padding: 5 0;
}

#nav_container {
    padding: 10px 10vw;
    position: sticky;
    top: 0;
    display: block;
    z-index: 100;
    animation: nav-scroll auto linear;
    animation-timeline: scroll();
    animation-range: 0vh 100vh;
    background-color: aliceblue;
}

@keyframes nav-scroll {
    from {
        background-color: transparent;
    }
    to {
        background-color: aliceblue;
    }
}

#nav_items {
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -webkit-align-items: baseline;
    -webkit-justify-content: space-between;
    position: static;
}

@media(max-width: 1000px) {
    #burger_wrap {
        display: -webkit-flex;
    }

    #nav_wrap {
        display: none;
    }
}

@media (min-width: 1000px) {
    #burger_wrap {
        display: none;
    }

    #nav_wrap {
        display: -webkit-flex;
    }
}

#burger_wrap {
    align-self: baseline;
}

#nav_wrap {
    width: 100%;
    padding-left: 40%;
}

#nav_titles {
    display: -webkit-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    position: static;
}

.nav_title {
    display: block;
    position: static;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    padding: 0 20;
    animation: title-scroll auto linear;
    animation-timeline: scroll();
    animation-range: 0vh 100vh;
    color: black;
}

@keyframes title-scroll {
    from {
        color: white;
    }
    to {
        color: black;
    }
}

#langue {
    border-radius: 20px;
    border: 2px solid #fff;
}

#langue:hover {
    text-decoration: none;
}

.section {
    margin: 0 10vw;
}

#sectiontion {
    overflow: hidden;
    position: relative;
    height: 100vh;
    top: -60px;
}

#main-slider {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#leprojet {
    position: relative;
    padding-top: 50px;
}

#infos {
    padding-top: 50px;
}

#logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
    justify-content: space-between;
}

@media(max-width: 1000px) {
    .logoimg {
        height: 30px;
    }

    .logoimg2 {
        height: 15px;
    }
}

@media (min-width: 1000px) {
    .logoimg {
        height: 60px;
    }

    .logoimg2 {
        height: 40px;
    }
}



/*---------------------------------------------------------------------
Carousel part
---------------------------------------------------------------------*/

.slider {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
}
.slider-carousel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slider-carousel img {
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: left;
    display: inline-block;
    opacity: 1;
    transition: all 1s ease;
    border: 2px solid white;
}

.left_arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    top: 0;
    width: 10%;
    cursor: pointer;
    z-index: 3;
}

.right_arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    top: 0;
    width: 10%;
    cursor: pointer;
    z-index: 3;
}

.slider_nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 4;
}

.slider_nav button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #333;
    background-clip: content-box;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
    padding: 0 0;
    cursor: pointer;
}

.slider_nav button:active {
    background-color: white;
}

.slider-carousel .images {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}

.image-text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    height: 35px;
}

.carousel-img-on {
    transform: translateX(0%);
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition:
        transform 0.01s;
}

.carousel-img-out {
    transform: translateX(-150%);
    opacity: 1;
    z-index: 2;
    transition:
        transform 1s;
}


#slider-1 {
    height: 100%;
}

#slide-1 {
    background-image: url("../media/pics/website/nuit_chercheurs_P1088351.JPG");
    background-position: 50% 50%;
    background-size: cover;
}

#slide-2 {
    background-image: url("../media/pics/website/nuit_chercheurs_P1088372.JPG");
    background-position: 50% 50%;
    background-size: cover;
}

#slide-3 {
    background-image: url("../media/pics/website/SIW_science\ booth_158.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

#slider_nav-1 {
    display: none;
}



/*---------------------------------------------------------------------
Menu déroulant 
---------------------------------------------------------------------*/

#menu_cell {
    font-size: 16px;
}

#titre_menu {
    width: 100px;
}

#menu_cell ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

#menu_cell ul li {
    position: relative;
    float: left;
    text-align: center;
}

#menu_cell ul::after {
    content: "";
    clear: both;
    display: table;
}

#menu_cell ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid transparent;
    animation: title-scroll auto linear;
    animation-timeline: scroll();
    animation-range: 0vh 100vh;
    color: black;
}

#menu_cell ul li a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.deroulant > a::after{
    content: "\25BC";
    font-size: 10px;
    margin-left: 5px;
}

.deroulant a {
    overflow: hidden;
}

#sous{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    margin-bottom: 20px;
    margin-left: 0;
    z-index: 10;
    width: 100%;
}

#sous li{
    float: none;
    text-align: center;
    animation: nav-scroll auto linear;
    animation-timeline: scroll();
    animation-range: 0vh 100vh;
    background-color: aliceblue;
}

#sous li a{
    overflow: hidden;
}